<!-- START: frontend/components/scrolltop/index -->
<a href="#" title="Scroll to top" class="scrolltop">
  <span class="sr-only">Scroll to top</span>
</a>
<!-- END: frontend/components/scrolltop/index -->