{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    <h1>h1 default title</h1>
    <h1 class="text-black">h1 black title</h1>
    <h2>h2 default title</h2>
    <h2 class="text-black">h2 black title</h2>
    <h3>h3 default title</h3>
    <h3 class="text-black">h3 black title</h3>
    <h4>h4 default title</h4>
    <h4 class="text-black">h4 black title</h4>
    <h5>h5 default title</h5>
    <h5 class="text-black">h5 black title</h5>
    <p>
      <strong class="text-label text-primary">
        Category label example
      </strong>
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis turpis accumsan efficitur convallis.
    </p>
    <p>
      Duis lobortis tincidunt nisl vitae imperdiet. Praesent finibus est sed vulputate pretium. Maecenas et nisl et tellus hendrerit porta vestibulum a leo. Morbi ornare id magna sed tempus. Nunc et elit ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam tristique vitae diam eu ornare. Nullam nec odio interdum est molestie fringilla sit amet ut velit. Donec vel diam sit amet lectus malesuada finibus. Mauris pulvinar ac justo eget pellentesque.
    </p>
    <small>
      * Maecenas aliquam eget nibh porta imperdiet.
    </small>
  {{/inline}}
{{/layouts/one-column}}
