{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    <h1 class="text-parent">Page List</h1>

    <section class="section">
      <ul>
        {{#each pages}}
          <li><a href="{{.}}">{{.}}</a></li>
        {{/each}}
      </ul>
    </section>
  {{/inline}}
{{/layouts/one-column}}
