{{load this 'global'}}
<article class="tout">
  <div class="tout__img">
    <figure>
      <a href="{{url}}" title="{{title}}" class="tout__img__link">
        <img src="{{assetspath}}{{image}}" />
      </a>
      {{> arrowcta/index url=url theme="out"}}
    </figure>
  </div>

  <div class="tout__body">
    <h4>
      <a href="{{url}}" title="{{title}}">
        {{title}}
      </a>
    </h4>

    {{#if info}}
    <p class="tout__info">{{{info}}}</p>
    {{/if}}

    <p>{{body}}</p>

    {{#if muted}}
      <p>
        <small class="text-label text-muted">{{muted}}</small>
      </p>
    {{/if}}
  </div>
</article>