.tout {
  @include make-row();
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;

  // TODO: add variations to adjust column width
  &__img,
  &__body {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    display: flex;
    justify-content: center;
  }

  &__img {
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    align-items: center;
    figure {
      position: relative;
    }

    &__link {
      border-radius: $border-radius-lg;
      box-shadow: $box-shadow;
      @include imghover();
    }
  }

  &__body {
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    font-size: $font-size-sm;
    > * {
      &:not(:last-child):after {
        content: '|';
        margin: 0 0.5em 0 1em;
        font-weight: $font-weight-light;
      }
    }
  }
}