<!-- START: frontend/components/arrowcta/index -->
<a href="{{url}}" title="{{title}}" class="arrowcta{{#if theme}} arrowcta--{{theme}}{{/if}}">
  {{title}}
</a>
<!-- END: frontend/components/arrowcta/index -->