.arrowcta {
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded-circle;
  width: 2.75em;
  height: 2.75em;
  overflow: hidden;
  padding: 0;
  font-size: 1rem;
  box-shadow: $box-shadow;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;

  &:before {
    content: '';
    width: 0.75em;
    height: 0.75em;
    display: block;
    border: 3px solid $white;
    transform: rotate(45deg) translateX(-0.2em);
    margin: 1em auto;
    border-width: 3px 3px 0 0;
  }

  &:hover, &:focus {
    transform: translateX(0.1em);
  }

  // @include media-breakpoint-up(xl) {
  //   font-size: 1.25rem;
  // }

  // goes right out of box
  // expecting the outer to have relative
  &--out {
    position: absolute;
    right: -1.375em;
    top: 50%;
    transform: translateY(-50%);

    &:hover, &:focus {
      transform: translate3d(0.1em, -50%, 0);
    }
  }
}