<!-- START: frontend/components/hero/index -->
<section class="hero">
  <figure class="hero__inner">
    <picture>
      <source media="(orientation: landscape),(min-width: 768px)" srcset="/static/assets/images/dummy/photo1_16x9.jpg">
      <img alt="dummy" src="/static/assets/images/dummy/photo1_sqr.jpg" srcset="/static/assets/images/dummy/photo1_sqr.jpg">
    </picture>
  </figure>
</section>
<!-- END: frontend/components/hero/index -->