.hero {

  @include media-breakpoint-up(lg) {
    // minus warpper 1/12 column offset
    margin-left: percentage(1/12) * -1;
  }

  @include media-breakpoint-up(xxl) {
    margin-left: 0;
  }

  &__inner {
    position: relative;
    width: 100vw;
    top: $header-height-mobile * -1;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: $header-height-mobile * -1;

    img {
      width: 100%;
      object-fit: cover;
      mask-image: url(/static/assets/images/path1.svg);
      mask-repeat: repeat-x;
      mask-position: bottom center;
      mask-size: cover;
    }

    @include media-breakpoint-up(lg) {
      top: $header-height * -1;
      margin-bottom: $header-height * -1;
    }

    @include media-breakpoint-up(xl) {
      overflow: hidden;
      &, img {
        max-height: 790px; // mask height is 790px by nature
      }

      // img {
      //   mask-position: top center;
      //   mask-size: auto;
      //   object-fit: cover;
      // }
    }
  }
}