

.nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  transition: all .3s ease-in-out;

  @include media-breakpoint-up(lg) {
    width: $grid-gutter-width * 1.25;
    height: 100vh;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $grid-gutter-width * 1.25;
      height: 100%;
      display: block;
      background: $white;
      box-shadow: $box-shadow;
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
      z-index: 1;
    }
  }

  [for="cx-nav"] {
    position: absolute;
    top: $grid-gutter-width / 4;
    right: $grid-gutter-width / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: $grid-gutter-width / 3;
    height: $grid-gutter-width / 3;
    background: $white;
    padding: 0.75rem;
    box-sizing: content-box;
    border-radius: 50%;
    box-shadow: $box-shadow;
    z-index: 1;
    cursor: pointer;

    > span,
    &:before,
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: $primary;
      display: block;
      overflow: hidden;
      transition: all .3s ease-in-out;
      border-radius: $border-radius-sm;
    }

    &:before {
      margin-bottom: $spacer / 3;
    }
    &:after {
      margin-top: $spacer / 3;
      width: percentage(1/3);
    }
    > span {
      width: percentage(2/3);
    }

    &:hover, &:focus {
      > span,
      &:before,
      &:after {
        background: $link-hover-color;
      }
    }

    @include media-breakpoint-up(lg) {
      top: $grid-gutter-width * 0.75;
      right: auto;
      left: $grid-gutter-width * 0.375;
      width: $grid-gutter-width / 2;
      height: $grid-gutter-width / 2;
      padding: 0;
      box-shadow: none;

      > span,
      &:before,
      &:after {
        height: 3px;
      }

      &:before {
        margin-bottom: $spacer / 2;
      }
      &:after {
        margin-top: $spacer / 2;
      }
  
    }
    
  }

  &__list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100vh;
    background: $white url(#{$assets-path}/images/bg-nav.png) no-repeat bottom center;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    overflow-y: auto;

    &__inner {
      padding: $grid-gutter-width / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }

    ol, ul {
      padding: 0;
      margin: $grid-gutter-width / 2 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 630px; // from design
      transform: translateX(-100%);
      box-shadow: $box-shadow;
      padding-left: $grid-gutter-width * 1.25;
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
      opacity: 0;

      &__inner {
        padding: $grid-gutter-width * 0.75;
      }
    }
  }

  &__title {
    font-weight: normal;
  }

  &__item {

  }

  // TODO: for now
  &__link {
    &--active {
      color: $body-color;
      text-decoration: underline;
      pointer-events: none;
    }
  }

  &__footer {
    position: relative;
    padding: $grid-gutter-width / 4 0 0;
    border-top: 1px solid $gray-500;
    font-size: $font-size-sm;
    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: space-between;
      padding-top: $grid-gutter-width / 2;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        color: $gray-500;
        padding: 0 $spacer / 2;
        transition: color 0.3s ease;
        &:hover, &:focus {
          color: $black;
          text-decoration: none;
        }
      }

      > li {
        display: inline-block;
      }
    }

    &__nav {
      > li {
        display: block !important;
      }
    }

    &__social {
      text-align: right;
      white-space: nowrap;
    }
  }
}

#cx-nav {
  position: fixed;
  left: -9999rem;

  &:checked {
    ~ main {
      @include media-breakpoint-up(lg) {
        .text-parent {
          opacity: 0;
        }
      }
    }

    ~ .nav {
      
      [for="cx-nav"] {
        box-shadow: none;
        > span,
        &:before,
        &:after {
          margin: 0;
        }
        &:before {
          transform: rotate(45deg) translateX(1px);
        }
        &:after {
          transform: rotate(-45deg) translateX(1px);
          width: 100%;
        }
        > span {
          height: 0;
          opacity: 0;
        }
      }

      .nav__list {
        transform: translateY(0);
      }

      @include media-breakpoint-up(lg) {
        width: 80%;

        [for="cx-nav"] {
          &:before {
            transform: rotate(45deg) translateX(2px);
          }
          &:after {
            transform: rotate(-45deg) translateX(2px);
          }
        }

        .nav__list {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}