<!-- START: frontend/components/nav/index -->
<input type="checkbox" id="cx-nav" />
<nav class="nav">
  <label for="cx-nav">
    <span>Menu</span>
  </label>

  <section class="nav__list">
    <div class="nav__list__inner">
      {{> logo/index}}
      <ol>
        <li class="nav__item">
          <h2 class="nav__title">
            <a href="/philosophy/index.html"
              title="Philosophy"
              class="nav__link{{#eq active "philosophy"}} nav__link--active{{/eq}}">
              Philosophy
            </a>
          </h2>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">
            <a href="/insights/index.html"
              title="Insights"
              class="nav__link{{#eq active "insights"}} nav__link--active{{/eq}}">
              Insights
            </a>
          </h2>
          <ul>
            <li>
              <a href="/insights/evergreen.html"
                title="Evergreen Content"
                class="nav__link{{#eq filename "/insights/evergreen.html"}} nav__link--active{{/eq}}">
                Evergreen Content
              </a>
            </li>
            <li>
              <a href="/insights/timely.html"
                title="Timely Articles"
                class="nav__link{{#eq filename "insights/timely.html"}} nav__link--active{{/eq}}">
                Timely Articles
              </a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">
            <a href="/resources/index.html"
              title="Resources"
              class="nav__link{{#eq active "resources"}} nav__link--active{{/eq}}">
              Resources
            </a>
          </h2>
          <ul>
            <li>
              <a href="/resources/model.html"
                title="AGI's CX Model"
                class="nav__link{{#eq filename "resources/model.html"}} nav__link--active{{/eq}}">
                AGI's CX Model</a>
            </li>
            <li>
              <a href="/resources/tools.html"
                title="Tools"
                class="nav__link{{#eq filename "resources/tools.html"}} nav__link--active{{/eq}}">
                Tools
              </a>
            </li>
            <li>
              <a href="/resources/more.html"
                title="Learn More"
                class="nav__link{{#eq filename "resources/more.html"}} nav__link--active{{/eq}}">
                Learn More
              </a>
            </li>
          </ul>
        </li>
      </ol>

      <footer class="nav__footer">
        <ul class="nav__footer__nav">
          <li>
            <a href="/privacy" title="Privacy Policy">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="/terms" title="Terms & Conditions">
              Terms &amp; Conditions
            </a>
          </li>
          <li>
            <a href="/" title="Copyright &copy; AGI">
              Copyright &copy; AGI
            </a>
          </li>
        </ul>

        <ul class="nav__footer__social">
          <li>
            <a href="https://youtube.com" title="YouTube" class="icons icons-social-youtube" target="agi-social">
              <span class="sr-only">YouTube</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com" title="Twitter" class="icons icons-social-twitter" target="agi-social">
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com" title="LinkedIn" class="icons icons-social-linkedin" target="agi-social">
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://facebook.com" title="Facebook" class="icons icons-social-facebook" target="agi-social">
              <span class="sr-only">Facebook</span>
            </a>
          </li>
        </ul>
      </footer>

    </div>
  </section>
</nav>
<!-- END: frontend/components/nav/index -->