.forms {

  @include media-breakpoint-up(sm) {
    padding: $grid-gutter-width / 2;
  }
  // error / success box
  .alert {
    font-size: $font-size-sm;
  }

  // spinner
  .btn [role="status"] {
    display: none;
  }
  &.is-loading .btn [role="status"] {
    display: inherit;
  }

  .alert {
    display: none;
  }

  &--success {
    .alert-success {
      display: block;
    }
  }

  &--invalid {
    .alert-danger {
      display: block;
    }
  }
}