
<!-- START: frontend/components/forms/newsletter -->
<form id="newsletter"
  class="forms forms--newsletter"
  action="{{apiURL}}/api/email/newsletter"
  novalidate>

  <h3>Subscribe to the AGI CX to get updates</h3>
  <p>Enter your conact information below.</p>

  <div class="alert alert-success" role="alert">
    Thank you for subscribing to our newsletter!
  </div>
  {{!-- API specified error messages --}}
  <div class="alert alert-danger" role="alert"></div>

  <div class="form-group">
    <input type="email"
      name="email"
      id="newsletter-input-email" class="form-control is-invalid"
      required />
    <label for="newsletter-input-email">Email</label>
    <small class="invalid-feedback">Enter valid email address</small>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text"
          name="firstName"
          id="newsletter-input-firstName" class="form-control is-invalid"
          required />
        <label for="newsletter-input-firstName">First Name</label>
        <small class="invalid-feedback">Enter first name</small>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <input type="text"
          name="lastName"
          id="newsletter-input-lastName" class="form-control is-invalid"
          required />
        <label for="newsletter-input-lastName">Last Name</label>
        <small class="invalid-feedback">Enter last name</small>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" 
        name="optIn"
        id="newsletter-terms" class="custom-control-input is-invalid"
        required />
      <label for="newsletter-terms" class="custom-control-label">
        <small>
          {{!-- BE: change the URLs accordingly --}}
          Please send me AGI CX update. I accept AGI's <a href="/privacy.html" title="Privacy Policy">Privacy Policy</a> and <a href="/terms.html" title="Terms of Use">Terms of Use</a>, and I understand I can unsubscribe at any time.
        </small>
      </label>
      <small class="invalid-feedback">Please agree to receive AGI CX updates.</small>
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox"
        name="marketingOptIn"
        id="newsletter-marketing" class="custom-control-input" />
      <label class="custom-control-label" for="newsletter-marketing">
        <small>
          Please send me AGI Marketing updateds.
        </small>
      </label>
    </div>
  </div>
  
  <button type="submit" class="btn btn-lg btn-primary">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Subscribe
  </button>
</form>
<!-- END: frontend/components/forms/newsletter -->