{{load this 'home'}}
{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    <h1>{{title}}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis turpis accumsan efficitur convallis.
    </p>
  {{/inline}}
{{/layouts/one-column}}
