/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 @import "bootstrap/scss/variables";
 @import "bootstrap/scss/mixins";
 @import "bootstrap/scss/root";
 @import "bootstrap/scss/reboot";
 @import "bootstrap/scss/type";
//  @import "bootstrap/scss/images";
 @import "bootstrap/scss/code";
 @import "bootstrap/scss/grid";
//  @import "bootstrap/scss/tables";
 @import "bootstrap/scss/forms";
 @import "bootstrap/scss/buttons";
//  @import "bootstrap/scss/transitions";
//  @import "bootstrap/scss/dropdown";
//  @import "bootstrap/scss/button-group";
//  @import "bootstrap/scss/input-group";
 @import "bootstrap/scss/custom-forms";
//  @import "bootstrap/scss/nav";
//  @import "bootstrap/scss/navbar";
 @import "bootstrap/scss/card";
//  @import "bootstrap/scss/breadcrumb";
//  @import "bootstrap/scss/pagination";
//  @import "bootstrap/scss/badge";
//  @import "bootstrap/scss/jumbotron";
 @import "bootstrap/scss/alert";
//  @import "bootstrap/scss/progress";
//  @import "bootstrap/scss/media";
//  @import "bootstrap/scss/list-group";
//  @import "bootstrap/scss/close";
//  @import "bootstrap/scss/toasts";
//  @import "bootstrap/scss/modal";
//  @import "bootstrap/scss/tooltip";
//  @import "bootstrap/scss/popover";
//  @import "bootstrap/scss/carousel";
 @import "bootstrap/scss/spinners";
 @import "bootstrap/scss/utilities";
 @import "bootstrap/scss/print";

 
//  any bootstrap overwrites
.card {
  box-shadow: $box-shadow;

  &-body {
    position: relative;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: $btn-padding-y + 0.1; // because of uppercase

  &.btn-lg {
    padding-top: $btn-padding-y-lg + 0.1; // because of uppercase
    min-width: 100%;
    @include media-breakpoint-up(sm) {
      min-width: $spacer * 16;
    }
  }

  .icons {
    margin-right: 0.5em;
    margin-top: -0.25em; // because of more padding
  }

  &.disabled,
  &:disabled {
    background: $gray-400;
    border-color: $gray-400;
    color: $body-color;
    pointer-events: none;
  }
}

.form {
  &-group {
    overflow: hidden; // WATCH OUT
  }
  &-control {
    &[type="text"],
    &[type="email"] {
      border-width: 0 0 1px;
      padding-left: 0;
      margin-bottom: $label-margin-bottom;

      + label {
        @extend .text-label;
        // likely followed by invalid message on validation
        display: inline-block;
        margin-bottom: 0;
        margin-right: $spacer / 2;
      }

      // when the label is below the input field
      &.is-invalid + label + .invalid-feedback,
      &.is-valid + label + .valid-feedback {
        float: right;
        width: auto;
      }
    }
  }
}

.custom-control-input {
  &:invalid,
  &.is-invalid {
    // don't wanna red checkbox label
    ~ .custom-control-label {
      color: inherit;
    }
  }
}