/**
 * @license
 * MyFonts Webfont Build ID 3712397, 2019-02-01T14:49:00-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: UniversLTPro-45Light by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-45-light/
 * Copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 *
 * Webfont: UniversLTPro-45LightOblique by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-45-light-oblique/
 * Copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 *
 * Webfont: UniversLTPro-55Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-55-roman/
 * Copyright: Copyright &#x00A9; 2017 Monotype GmbH. All rights reserved.
 *
 * Webfont: UniversLTPro-55Oblique by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-55-oblique/
 * Copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 *
 * Webfont: UniversLTPro-65Bold by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-65-bold/
 * Copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 *
 * Webfont: UniversLTPro-85XBlackObl by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/univers/pro-85-extra-black-oblique/
 * Copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3712397
 * Licensed pageviews: 15
 *
 * © 2019 MyFonts Inc
*/

// must be overwritten by webpack data injection, adding default to avoid any errors
$fontPath: '/fonts/' !default;
// UniversLTPro-45Light
@font-face {
  font-family: 'UniversLTPro';
  font-weight: 300;
  src: url('#{$fontPath}38EEB3_0_0.eot');
  src: url('#{$fontPath}38EEB3_0_0.eot?#iefix') format('embedded-opentype'),url('#{$fontPath}38EEB3_0_0.woff2') format('woff2'),url('#{$fontPath}38EEB3_0_0.woff') format('woff'),url('#{$fontPath}38EEB3_0_0.ttf') format('truetype');
}

// UniversLTPro-55Roman
@font-face {
  font-family: 'UniversLTPro';
  font-style: normal;
  src: url('#{$fontPath}38EEB3_1_0.eot');
  src: url('#{$fontPath}38EEB3_1_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}38EEB3_1_0.woff2') format('woff2'), url('#{$fontPath}38EEB3_1_0.woff') format('woff'), url('#{$fontPath}38EEB3_1_0.ttf') format('truetype');
}

// UniversLTPro-65Bold
@font-face {
  font-family: 'UniversLTPro';
  font-weight: 700;
  font-style: normal;
  src: url('#{$fontPath}38EEB3_2_0.eot');
  src: url('#{$fontPath}38EEB3_2_0.eot?#iefix') format('embedded-opentype'),url('#{$fontPath}38EEB3_2_0.woff2') format('woff2'),url('#{$fontPath}38EEB3_2_0.woff') format('woff'),url('#{$fontPath}38EEB3_2_0.ttf') format('truetype');
}

// UniversLTPro-85XBlackObl
@font-face {
  font-family: 'UniversLTProBlack';
  font-weight: 800;
  font-style: normal;
  src: url('#{$fontPath}38EEB3_3_0.eot');
  src: url('#{$fontPath}38EEB3_3_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}38EEB3_3_0.woff2') format('woff2'), url('#{$fontPath}38EEB3_3_0.woff') format('woff'), url('#{$fontPath}38EEB3_3_0.ttf') format('truetype');
}

// UniversLTPro-85XBlackObl
@font-face {
  font-family: 'UniversLTProBlack';
  font-weight: 800;
  font-style: italic;
  src: url('#{$fontPath}38EEB3_4_0.eot');
  src: url('#{$fontPath}38EEB3_4_0.eot?#iefix') format('embedded-opentype'),url('#{$fontPath}38EEB3_4_0.woff2') format('woff2'),url('#{$fontPath}38EEB3_4_0.woff') format('woff'),url('#{$fontPath}38EEB3_4_0.ttf') format('truetype');
}

