html {
  overflow-x: hidden;
  scroll-behavior: smooth; // Doesn't work for IE
}

body {
  background-image: url(#{$assets-path}/images/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}

img {
  max-width: 100%;
  height: auto;
}

time {
  font-size: $font-size-sm;
  letter-spacing: 1px;
}

label {
  line-height: $line-height-sm;
}

#main {
  padding-bottom: $grid-gutter-width;
}

// for accessibility
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

// create left space for nav on ipad upto 1440px
.wrapper {
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(11);
    @include make-col-offset(1);
  }

  @include media-breakpoint-up(xxl) {
    @include make-col(12);
    @include make-col-offset(0);
  }
}

.section {
  padding: $spacer * 2 0;
}