// add enlarge animation to image hover
@mixin imghover() {
  display: block;
  overflow: hidden;
  img {
    transition: transform 10s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    img {
      transform: scale(1.1) translate3d(-2.5%, -2.5%, 0);
    }
  }
}