$slick-arrow-size: 44px;

// slick overwrite / additionals (arrows/dots)
.slick {
  &-slide {
    position: relative;
    > div {
      width: 100%;
      height: 100%;
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    z-index: 9;
    width: $slick-arrow-size;
    height: $slick-arrow-size;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $primary;
    background: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: $slick-arrow-size * -1;

    &:before {
      content: '';
      width: 0.7em;
      height: 0.7em;
      display: block;
      border: 2px solid $primary;
      transform: rotate(45deg) translateX(-0.2em);
      margin: 1em auto;
      border-width: 2px 2px 0 0;
    }

    &, &:before {
      transition: all 0.3s ease;
    }

    &:hover, &:focus {
      &:not(.slick-disabled) {
        background: $primary;
        border-color: $primary;
        color: $white;
        &:after,
        &:before {
          border-color: $white;
        }
      }
    }

    &:active {
      background: $link-hover-color;
      border-color: $link-hover-color;
    }
  }

  &-next {
    left: auto;
    right: 0;
  }

  &-prev {
    left: 0;
    &:before {
      transform: rotate(45deg) translateY(-0.2em) scale(-1);
    }
  }

  @include media-breakpoint-up(sm) {
    &-next {
      right: $grid-gutter-width / -3;
    }
  
    &-prev {
      left: $grid-gutter-width / -3;
    }
  }

  // disabled state
  &-disabled {
    cursor: default;
    &, &:hover {
      &, &:before {
        border-color: $gray-600;
      }
    }
  }

  &-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 $grid-gutter-width / 4;
    margin: 0 -2.5px;

    @include media-breakpoint-up(lg) {
      min-height: $grid-gutter-width;
      text-align: center;
    }

    > li {
      position: relative;
      display: inline-block;
      button {
        width: 2rem;
        height: 5px;
        overflow: hidden;
        background: $primary;
        border: none;
        margin: 0 2.5px;
        line-height: 2;
        opacity: 0.4;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }

        @include media-breakpoint-up(sm) {
          width: 2.5rem;
        }
      }
      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}