// NOT BEM: align with bootstrap text-** classes
.text {
  &-black {
    @extend .text-uppercase;
    font-family: $font-family-black;
    font-style: italic;
  }

  &-label {
    @extend .text-uppercase;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    letter-spacing: 1px;
  }

  &-div {
    @extend .text-label;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $spacer;
    color: $border-color;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $gray-400;
      margin-left: $grid-gutter-width / 2;
    }
  }

  &-parent {
    @extend .h2;
    transition: all .3s ease;
    @include media-breakpoint-up(lg) {
      position: fixed;
      top: $grid-gutter-width * 2;
      left: 0;
      z-index: 99;
      margin: 0;
      transform: rotate(-90deg) translate3d(-100%,50%,0);
      transform-origin: top left;
    }
  }
}