.header {
  position: relative;
  z-index: 9;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $header-height-mobile;
  }

  @include media-breakpoint-up(lg) {
    .wrapper {
      height: $header-height;
    }
  }
}