
<!-- START: frontend/components/header/index -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="wrapper">
        {{> logo/index}}
        
        <div class="header__tools d-none d-lg-block">
          <a href="#newsletter" title="Get AGI CX Udates" class="btn btn-lg btn-primary">
            <i class="icons icons-social-email"></i> Get AGI CX Udates
          </a>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- END: frontend/components/header/index -->