{{load this 'philosophy/index'}}
{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    {{> hero/index}}
    <h1 class="text-parent">{{title}}</h1>
    <section class="section">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis turpis accumsan efficitur convallis.
      </p>
    </section>
  {{/inline}}
{{/layouts/one-column}}
