{{load this 'philosophy/philosophy'}}
{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    <section class="section row">
      <div class="col-lg-6">
        <h2 class="text-parent">Philosophy</h2>
        <p>
          <strong class="text-label text-primary">
            AGI CX Philosophy
          </strong>
        </p>
        <h1>Enhancing our ability to scale and enrich lives.</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis turpis accumsan efficitur convallis.
        </p>
      </div>

      <div class="col-lg-6">
        <img src="/static/assets/images/dummy/photo1.jpg" alt="dummy" />
      </div>
    </section>


    <section class="section">
      <h2 class="text-black text-primary text-center">
        Customer-centric organizations drive better outcomes
      </h2>
    </section>

    <section class="row section">
      <div class="col-lg-6">
        <img src="/static/assets/images/dummy/photo2.jpg" alt="dummy" />
      </div>
      <div class="col-lg-6">
        <img src="/static/assets/images/dummy/photo3.jpg" alt="dummy" />
      </div>
    </section>

    <section class="row section">
      <div class="col-lg-6">
        <img src="/static/assets/images/dummy/photo4.jpg" alt="dummy" />
      </div>

      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis turpis accumsan efficitur convallis.
        </p>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
      </div>
    </section>
  {{/inline}}
{{/layouts/one-column}}
