
<!-- START: frontend/components/logo/index -->
<a href="/" title="Go to homepage" class="logo">
  <svg width="180px" height="30px" viewBox="0 0 180 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="AGI-CX-logo_green_black" transform="translate(0.000000, 1.000000)">
              <g id="Group" transform="translate(0.000000, -1.000000)">
                  <g id="Group-2" transform="translate(0.000000, 0.819610)">
                      <path d="M135.519924,18.0288217 L145.713435,18.0288217 C144.91469,21.7943351 142.784703,24.5328902 140.046148,26.3205582 C137.345628,28.0701907 133.960469,28.9069714 130.537275,28.9069714 C120.914297,28.9069714 117.719316,23.0495062 119.545019,14.3393793 C121.104474,5.78139429 127.456401,3.55271368e-15 136.73706,3.55271368e-15 C143.659519,3.55271368e-15 148.908416,2.81462617 147.234855,10.8781498 L137.269557,10.8781498 C137.764018,7.7592397 136.775095,7.15067188 135.443853,7.15067188 C132.629227,7.15067188 131.716375,10.041369 130.803524,14.4534857 C129.890672,18.6373895 129.472282,21.7562996 132.210837,21.7562996 C133.61815,21.7562996 134.759215,20.9195188 135.519924,18.0288217 Z" id="Path" fill="#000000" fill-rule="nonzero"></path>
                      <polygon id="Path" fill="#000000" fill-rule="nonzero" points="162.565995 28.1842972 160.245831 19.8925606 154.274259 28.1842972 143.396109 28.1842972 155.263182 14.1492018 149.786071 0.722674286 161.272789 0.722674286 163.212599 8.51994948 168.651674 0.722674286 179.529823 0.722674286 168.195248 14.1492018 174.052713 28.1842972"></polygon>
                      <path d="M86.4707597,0.844652624 L83.4247068,14.7306247 C85.1381617,15.3736834 86.7529947,16.0019968 88.2740166,16.6139266 C88.6941619,16.4803997 89.1303432,16.3460537 89.5817588,16.2125269 C95.4389361,13.6181741 103.711147,10.1325502 112.932693,10.5503335 L115.063888,0.844652624 L86.4707597,0.844652624 Z" id="Fill-15" fill="#006A35"></path>
                      <path d="M93.7421588,16.0091237 C97.3590961,15.9730797 102.902768,16.5006335 111.207853,18.4207986 L111.834863,15.5569347 C109.177685,15.1211293 103.846491,14.8221275 93.7421588,16.0091237" id="Fill-7" fill="#006A35"></path>
                      <path d="M81.4805729,23.5941854 L80.8455442,26.4883592 C92.4741059,25.5635015 100.925119,27.1232261 106.34852,28.8271268 L108.925518,28.8271268 L108.996879,28.4961769 C96.4855307,24.4215603 85.7854579,23.7055943 81.4805729,23.5941854" id="Fill-9" fill="#006A35"></path>
                      <path d="M89.3036932,17.0303173 C100.416695,21.5653147 106.321179,25.1336762 109.267808,27.2635521 L110.701433,20.7289288 C108.151697,19.9588968 97.2391462,16.8222448 89.3036932,17.0303173" id="Fill-11" fill="#006A35"></path>
                      <path d="M82.9162027,17.0455541 L82.1312367,20.6245649 C90.7859078,20.8465635 97.3895646,22.4808337 102.100964,24.2691104 C92.2387765,19.390056 86.2324636,17.6460153 82.9162027,17.0455541" id="Fill-13" fill="#006A35"></path>
                      <path d="M93.1553185,15.2531816 C98.6508823,13.9277434 105.477441,12.9791294 112.214999,13.8261647 L112.51808,12.1189872 C111.526249,12.0747513 107.043364,10.9737693 93.1553185,15.2531816" id="Fill-18" fill="#006A35"></path>
                      <path d="M-1.84741111e-13,28.1500766 L14.7185278,0.842091837 L28.9387722,0.842091837 L31.9668027,28.1500766 L20.6212708,28.1500766 L20.5062823,23.7626442 L12.5720759,23.7626442 L10.5022829,28.1500766 L-1.84741111e-13,28.1500766 Z M15.6384358,17.1058501 L20.3146348,17.1058501 L20.3529643,6.81807743 L20.2763053,6.81807743 L15.6384358,17.1058501 Z" id="Combined-Shape" fill="#006A35" fill-rule="nonzero"></path>
                      <path d="M48.144712,18.1270628 L49.3329265,12.7562403 L63.5915003,12.7562403 L60.4868109,27.0532185 C55.9639299,28.1500766 50.827777,28.8687078 46.304896,28.8687078 C36.3392261,28.8687078 32.7745826,22.8548995 34.5760691,14.4960842 C36.3775556,6.13726894 42.548605,0.123460658 52.8209109,0.123460658 C61.3300598,0.123460658 65.1630098,2.88451729 63.8981363,9.27655251 L53.6258304,9.27655251 C53.7791484,8.40663056 53.5491714,7.83929016 53.1658764,7.49888591 C52.7825814,7.15848167 52.1693094,7.0071909 51.4793784,7.0071909 C49.83121,7.0071909 48.5663365,7.83929016 47.7997465,8.93614827 C47.0331565,10.0330064 46.304896,12.7184176 45.8066125,15.0256019 C45.23167,17.6731905 45.078352,19.4886798 45.384988,20.3586017 C45.768283,21.4932826 46.76485,21.9849776 48.1830415,21.9849776 C49.217938,21.9849776 50.214505,21.8336868 51.2110719,21.4176372 L51.9010029,18.1270628 L48.144712,18.1270628 Z" id="Path" fill="#006A35" fill-rule="nonzero"></path>
                      <polygon id="Path" fill="#006A35" fill-rule="nonzero" points="63.2493953 28.1500766 69.1138087 0.842091837 80.0760456 0.842091837 74.2116322 28.1500766"></polygon>
                  </g>
              </g>
          </g>
      </g>
  </svg>
  <span class="sr-only">{{sitename}}</span>
</a>
<!-- END: frontend/components/logo/index -->