{{load this 'insights/index'}}
{{#> layouts/one-column}}
  {{#*inline "content-block"}}
    <h1 class="text-parent">{{title}}</h1>

    <section class="section">
      <h2 class="text-div">Featured</h2>
      {{#> carousel/index opts='{"dots":false,"slidesToShow":3}' theme="arrow"}}
        {{#*inline "carousel-items"}}
          {{#each featured}}
            {{> carousel/card url="article.html"}}
          {{/each}}
        {{/inline}}
      {{/carousel/index}}
    </section>

    <section class="section">
      <h2 class="text-div">Recent</h2>
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          {{#each recent}}
            {{> tout/index url="article.html"}}
          {{/each}}
        </div>
      </div>
    </section>

  {{/inline}}
{{/layouts/one-column}}
