  {{load this 'global'}}
  {{!-- card style carousel item --}}
  <div class="carousel__item">
    <article class="card">
      <a href="{{url}}" title="{{title}}" class="card-img-top">
        <img src="{{assetspath}}{{image}}" alt="{{title}}" />
      </a>

      <div class="card-body">
        <h4 class="card-title">
          <a href="{{url}}" title="{{title}}">{{title}}</a>
        </h4>
        {{> arrowcta/index url=url theme="out"}}
      </div>
    </article>
  </div>