<!-- START: frontend/components/carousel/index -->
<section class="carousel{{#if theme}} carousel--{{theme}}{{/if}}" data-slick='{{opts}}'>
  {{#> carousel-items}}{{/carousel-items}}
</section>
<!-- END: frontend/components/carousel/index -->