.carousel {
  margin: 0  $grid-gutter-width / -4;
  &__item {
    padding: $grid-gutter-width / 4;
    display: flex !important;
    height: 100%;

    // for card style carousel item
    .card {
      &-img-top {
        margin: 0;
        @include imghover();
      }

      &-body {
        display: flex;
        align-items: center;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin-left: 0;
    margin-right: 0;
    &__item {
      padding: $grid-gutter-width / 2;
    }
  }

  // card with arrowcta theme style (need to move to left to make room on right)
  &--arrow {
    .slick-list {
      margin-left: $grid-gutter-width / 4;
    }
    .slick-track {
      margin-left: $grid-gutter-width / -8;
    }

    @include media-breakpoint-up(xl) {
      padding: 0 $grid-gutter-width;
    }
  }
}