{{load this 'global'}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AGI CX static site</title>
  {{> layouts/favicons }}
  {{!-- @BE: please change the addthis pubid --}}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d7bd34679cda561"></script>
  <script type="text/plain">
      var addthis_config = addthis_config || {};
      addthis_config.ui_tabindex = 0;
  </script>
</head>

<body>
  <a href="#main" class="skip-main" tabindex="1">Skip to main content</a>

  {{> nav/index}}
  
  {{> header/index }}

  <main id="main" tabindex="-1" class="container">
    <div class="row">
      <div class="wrapper">
        {{#> content-block}}{{/content-block}}
        
        <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <a href="#" title="Scroll to top" class="scrolltop">
              <span>Scroll to top</span>
            </a>

            <div class="card">
              <div class="card-body">
                {{> forms/newsletter}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
</body>

</html>
