
<!-- START: frontend/components/layouts/favicons -->
<link rel="shortcut icon" href="{{assetspath}}favicons/favicon.ico">
<link rel="manifest" href="{{assetspath}}favicons/manifest.json">
<link rel="manifest" href="{{assetspath}}favicons/site.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="{{assetspath}}favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{assetspath}}favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{assetspath}}favicons/favicon-16x16.png">
<link rel="mask-icon" href="{{assetspath}}favicons/safari-pinned-tab.svg">
<link rel="shortcut icon" href="{{assetspath}}favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{{assetspath}}favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- END: frontend/components/layouts/favicons -->
